.outlined-label {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: white;
    color: #007bff;
    margin-bottom: 10px;
}

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F4F8;
    color: #333;
}

/* Header */
header {
    background-color: #F76820;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.navbar .menu ul {
    display: flex;
    list-style-type: none;
}

.navbar .menu ul li {
    margin-right: 20px;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Hero section */
.hero {
    background-color: #34C759;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.hero .cta-btn {
    background-color: #FF3B30;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.container{
  background-color: #34C759;
  color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.hero .cta-btn:hover {
    background-color: #D62B1F;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.feature {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.feature p {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}



label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    background-color: white;
    color: #007bff;
    margin-bottom: 20px;
}

#colorPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.colorBlock {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

/* Upload Section */
.upload-section {
    margin: 20px 0;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background: white;
    color: #007bff;
    cursor: pointer;
}

/* Image Preview */
.hidden {
    display: none;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }